.Car{
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    transition: border, box-shadow .3s;
}
.Car:hover{
    outline: none;
    border: none;
}

.input

.input:active, .input:focus{
    outline: none;
}

.input.green {
    border: 1px solid chartreuse;

}

.input.red{
    border: 1px solid red;
}

.input.bold {
    border: 2px solid green;
    font-weight: bold;
}